@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Montserrat");

@font-face {
  font-family: "DxSitrus-Expanded";
  src: local("DxSitrus-Expanded"),
    url("assets/OTF/DxSitrus-Expanded.otf") format("truetype");
  font-weight: bold;
}

*{
  font-family: 'Montserrat';
  /* overflow: hidden; */
}

body{
  overflow: hidden;
}
@media screen and (max-width:600px) {
  body{
    overflow: scroll;
  }
}

/* standard scroll styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #787878;
  border-radius: 8px;
}
div::-webkit-scrollbar-track {
  background: #f1f2f7;
  border-radius: 8px;
}

div::-webkit-scrollbar-thumb {
  background: #e4e5ed;
  border-radius: 8px;
}

div::-webkit-scrollbar-thumb:hover {
  background: #dbdde6;
}

::-webkit-scrollbar-button {
  display: none;
}

.heightCard{
  height: 350px !important;
}

.gradientBtn::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    hsl(344, 100%, 50%),
    hsl(31, 100%, 40%)
  );
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}
.gradientBtn:hover::before {
  opacity: 1;
  cursor: pointer;
}

/* 
.form-control {
  padding: 12px 0;
}

input {
  display: inline-block;
  font-family: inherit;
  font-style: inherit;
  font-size: 15px;
  height: 40px;
  outline: 0;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: none;
  padding: 0 12px; 
  width: 100%;
}
input[type='file'] {
  border: none;
  padding: 0;
}
input[type='file']::-webkit-file-upload-button {
  width: 100%; 
  height: 40px;
  background-color: black;
  border: none;
  color: white;
  font-family: 'Montserrat';
  outline: none !important;
  cursor: pointer;
}
.container {
  font-family: 'Montserrat';
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 0;
  box-sizing: border-box;
} 

button {
  height: 40px;
  width: 100%;
}

input[type='checkbox'] {
  appearance: none;
} 

button[type="reset"]{
    background-color: green;
} 

button[type='submit'] {
  font-family: 'Montserrat';
  background-color: black;
  border: none;
  outline: none;
  padding: 0 12px;
  color: #fff;
  cursor: pointer;
}


.nav-options {
  padding-left: 25px;
  display: flex;
  flex-direction: row;
  align-content: center;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

ul li{
 margin-left: 20px;
}

ul li a {
  text-decoration: none;
 }

 unvisited link 
 ul li a:link {
  color: black;
}

visited link 
ul li a:visited {
  color: black;
}

mouse over link 
ul li a:hover {
  color: gray;
}

selected link 
ul li a:active {
  color: gray;
}

input[type="checkbox"]{
  width: 20px !important;
}

input[type="checkbox"]:checked label {
  color: black !important;
  background-color: black !important;
}

input[type="checkbox"]:checked {
  box-shadow: 0 0 0 3px hotpink;
  background-color: black !important;
} 

.role-group{
  display: flex;
  flex-direction: column;
}

Customize the label (the container) 
.container-checkbox {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  align-content: center;
}

Hide the browser's default checkbox 
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

Create a custom checkbox 
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
}

On mouse-over, add a grey background color 
.container-checkbox input ~ .checkmark {
  background-color: #fff;
  border: 1px solid black
}

When the checkbox is checked, add a blue background 
.container-checkbox input:checked ~ .checkmark {
  background-color: black;
}

Create the checkmark/indicator (hidden when not checked) 
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

Show the checkmark when checked 
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

Style the checkmark/indicator 
.container-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-text{
  margin: 5px 0;
}

.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box{
  text-align: center;
}
.form-layout{
  width: 80%;
}

.form-container{
  display: flex;
  justify-content: center;
  align-content: center;
}



.main-class{

  width: 100%;
  height: 90vh;
  display: flex;
  align-content: center;
  justify-content: center !important;
  align-items: center !important;
}

.main-title{
  font-family: 'DxSitrus-Expanded';
}

.main-container{
  display: flex;
  flex-direction: column;
}

.main-cta{
  display: flex;
  justify-content: space-between;
  
}

.main-cta Link{
  width: 45%;
} */

.container-checkbox {
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  height: 2em;
  min-width: 200px;
}

.container-checkbox label input {
  position: absolute;
  display: none;
  color: #fff !important;
}

.container-checkbox label span {
  text-align: center;
  padding: 3px 0;
  display: block;
}

.checked input:checked + span {
  background-color: #00ab9e;
  color: #fff;
}

.container-checkbox input:checked + span {
  color: #ffffff;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}

.main-title {
  font-family: "DxSitrus-Expanded";
}

.main-container {
  display: flex;
  flex-direction: column;
}

progress::-webkit-progress-bar {
  background-color: #eeeeee;
  border-radius: 10px;
  justify-content: center;
}

progress::-webkit-progress-value {
  background-color: #00ab9e !important;
  border-radius: 10px;
  justify-content: center;
}
/* map */
.map {
  height: calc(100vh - 64px);
  width: 1000px;
}

.container {
  position: relative;
  height: calc(100vh - 80px);
}

@media screen and (max-width: 600px){
  .container{
    display: none;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 64px);
  background: rgba(0, 0, 0, 0);
}

.container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.3);
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

.title {
  position: absolute;
  width: 100%;
  left: 0;
  top: 20%;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  z-index: 1;
  transition: top 0.5s ease;
}

.container:hover .title {
  top: 22%;
}

.button {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.container:hover .button {
  opacity: 1;
}
