@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Montserrat");

@font-face {
  font-family: "DxSitrus-Expanded";
  src: local("DxSitrus-Expanded"),
    url("assets/OTF/DxSitrus-Expanded.otf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Franklin";
  src: local("Franklin"),
    url("assets/OTF/Franklin-Regular.otf") format("truetype");
  font-weight: bold;
}

*{
  font-family: 'Montserrat';
  /* overflow: hidden; */
}

body{
  overflow: hidden;
}
@media screen and (max-width:600px) {
  body{
    overflow: scroll;
  }
}

/* standard scroll styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #787878;
  border-radius: 8px;
}
div::-webkit-scrollbar-track {
  background: #f1f2f7;
  border-radius: 8px;
}

div::-webkit-scrollbar-thumb {
  background: #e4e5ed;
  border-radius: 8px;
}

div::-webkit-scrollbar-thumb:hover {
  background: #dbdde6;
}

::-webkit-scrollbar-button {
  display: none;
}

.heightCard{
  height: 350px !important;
}

.gradientBtn::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    hsl(344, 100%, 50%),
    hsl(31, 100%, 40%)
  );
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}
.gradientBtn:hover::before {
  opacity: 1;
  cursor: pointer;
}

.container-checkbox {
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  height: 2em;
  min-width: 200px;
}

.container-checkbox label input {
  position: absolute;
  display: none;
  color: #fff !important;
}

.container-checkbox label span {
  text-align: center;
  padding: 3px 0;
  display: block;
}

.checked input:checked + span {
  background-color: #C1BADC;
  color: #fff;
}

.container-checkbox input:checked + span {
  color: #ffffff;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}

.main-title {
  font-family: "DxSitrus-Expanded";
}

.main-container {
  display: flex;
  flex-direction: column;
}

progress::-webkit-progress-bar {
  background-color: #eeeeee;
  border-radius: 10px;
  justify-content: center;
}

progress::-webkit-progress-value {
  background-color: #C1BADC !important;
  border-radius: 10px;
  justify-content: center;
}
/* map */
.map {
  height: calc(100vh - 64px);
  width: 1000px;
}

@media screen and (max-width: 700px){
  .height-personalized{
    height: calc(100vh - 84px);
  }
}


.container {
  position: relative;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px){
  .container{
    display: none;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 64px);
  background: rgba(0, 0, 0, 0);
}

.container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.3);
}

.container img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

.title {
  position: absolute;
  width: 100%;
  left: 0;
  top: 20%;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  z-index: 1;
  transition: top 0.5s ease;
}

.container:hover .title {
  top: 22%;
}

.button {
  position: absolute;
  width: 200px;
  display: flex;
  justify-content: center;
  margin: auto;
  top: 50%;
  text-align: center;
  opacity: 0;
  transition: .5s ease-out;
  background: transparent;
  background: linear-gradient(to left, white 50%, lightblue 50%) right;
  background-size: 200%;
}

.button:hover{
  background-position: left;
}

.button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: black;
  border: solid 2px black;
  z-index: 1;
}

.container:hover .button {
  opacity: 1;
}

.none{
  display: none;
}

.block{
  display: block;
}

.popup{
  z-index: 10;
  position: absolute;
  border-radius: 9px;
  text-align: center;
  cursor: pointer;
}

.font-franklin{
  font-family: 'Franklin';
}
